body {
  font-size: 16px;
}
h1 {
  font-family: sans-serif;
  font-size: 65px;
  color: orange;
  text-align: center;
  text-decoration: underline;
}
p {
  font-weight: 600;
  font-size: 3em;
  font-style: italic;
}

ul {
  line-height: 200%;
}
.main_content {
  background-color: paleturquoise;
}
#amarelo {
  background-color: yellow;
}
#vermelho {
  background-color: red;
}
#marrom {
  background-color: brown;
}
